body {
  background-color: #3f0d0d;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

h4 {
  font-size: 25px;
  text-decoration: underline;
  margin: 5px;
  color: white;
}

p {
  font-size: 20px;
  display: inline;
  color: white;
}

input {
  background-color: #00000000;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid black;
  padding: 5px;
  color: white;
}

button {
  background-color: #FFFFFF;
  border: 2px black solid;
  border-radius: 10px;
}

button:active {
  background-color: #DDDDDD;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#title {
  font-size: 50px;
  text-decoration: underline;
  color: white;
}

#action button {
  font-size: 25px;
  padding: 50px;
}

#createGame {
  background-color: #602424;
  border: 2px black solid;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  width: 50%;
}

#createGame,
#joinGame {
  display: none;
}

#joinButton {
  font-size: 15px;
  padding: 5px 15px 5px 15px;
}

#createButton {
  display: block;
  font-size: 15px;
  margin: 10px auto;
  padding: 5px 15px 5px 15px;
}

.prep {
  margin: 15px;
}